body {
    background: black;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    
}

#box{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.box-item{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #212020;
    transition: 1.5s ease;

}

.box-item:hover{
    transition-duration: 0s;
}

.btn {
    padding: 10px;
    position: fixed;
    left: 30px;

}